{% extends 'layout.html' %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='theme.css') }}">
{% endblock head %}

{% block content %}
	<!-- logo -->  
	<div class="search">
	<img id="search-logo" src="{{ url_for('static', filename='search-logo.png') }}" alt="Search Logo"/>
	</div>
    
	<!-- form search -->  
	<div class="form">  
		<form action="{{ url_for('search_result') }}" method="get">
		<label for="form-search"></label>
		<input type="text" name="q" id="form-search" placeholder="Search Documents" required>

		<!-- button -->
		<div class= "button">  
			<input type="submit" value="Search" id="button-search">
		</div>
		</form>
	</div>   
{% endblock content %}